.navbar { 
    position: fixed; 
    top: 2rem;       
    left: 50%;      
    transform: translateX(-50%); 

    display: flex;
    width: 80%;
    height: 80px;
    padding: 1rem;
    border: 1.5px solid transparent; 
    border-radius: 30px;
    background: 
        linear-gradient(90deg, rgba(255,255,255,0.9), rgba(173,216,230,0.6), rgba(30,144,255,0.6)) padding-box, 
        linear-gradient(90deg, #e74c3c, #1e90ff) border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(10px);
    z-index: 1000; /* 👈 thêm dòng này */
}

.navbar-logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem; 
}

.navbar-logo {
    width: auto;
    height: 100px; 
}

.navbar-menu {
    flex: 3;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    list-style: none;
    gap: 5rem;
}

.navbar-menu-item-text {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #012c56; 
}

.active {
    color: #1d88f3; 
}



.navbar-menu-item-text:hover {
    background-color: rgba(255,255,255,0.2); 
    border-radius: 20px;
    color: #e74c3c; 
    transition: background-color 0.3s ease;
}

.navbar-submenu {
    position: absolute;
    top: 100%; 
    left: 0;
    margin-top: 10px; 
    padding: 0.75rem 1rem; 

    background: rgba(255, 255, 255, 0.9) padding-box,
                linear-gradient(90deg, #e74c3c, #1e90ff) border-box; 
    border: 1px solid transparent;
    border-radius: 12px;
    backdrop-filter: blur(8px); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); 

    display: flex;
    flex-direction: column;
    gap: 0.5rem; 

    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.3s ease; 
}

.navbar-menu-item-sub {
    position: relative;
}

.navbar-menu-item-sub:hover .navbar-submenu {
    opacity: 1;
    pointer-events: auto;
}

.navbar-submenu-item {
    list-style: none;
    display: inline-block;
}

.navbar-submenu-item-text {
    text-decoration: none;
    color: #012c56; 
    font-size: 1rem; 
    font-weight: 500;
    padding: 0.4rem 0.8rem;  
    border-radius: 6px; 
    transition: all 0.2s ease; 
}

.navbar-submenu-item-text:hover {
    background-color: rgba(30,144,255,0.15); 
    color: #e74c3c;
}



.navbar-sign-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-sign {
    margin-right: 2rem;
    padding: 0.5rem 0.75rem;
    border: 2px solid #003366;
    border-radius: 20px;

    font-size: 1.25rem;
    color: #003366; 

    background-color: rgba(251, 250, 250, 0.8);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-sign:hover {
    background: #2ecc71;
    border: 2px solid rgba(251, 250, 250, 0.8); 
    color: #fff; 
}
