<<<<<<< HEAD

.product-container {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.product-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.product-card {
  width: 300px;
  height:300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom:15px ;
  display:block;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.product-card__image {
  object-fit: cover;     
  width: 275px;
  height: 200px;
  object-fit: cover;
  background-color: #eee;
  border-radius: 8px;
}

.product-card__price {
  font-size: 1.2rem;
  color: var(--text-light);
}

.product-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-dark);
  margin: 10px 0 6px;
}

.control-show {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.control-show button {
  border-radius: 5px;
  border: none;
  background-color: #1e90ff;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}

.control-show input {
  width: 40px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

.control-show button:hover {
  background-color: #0d6efd;
}
=======
.product-title{
    font-size:40px;
    text-align: center;

}
.product-select{
  margin-left:40px;
  margin-bottom:5px;
  & label {
    font-size:20px;
  }
}
.product-showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột đều nhau */
  gap: 5px; /* khoảng cách giữa các ô */
  margin-top: 15px;
}

.product {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;      /* căn giữa ngang */
  flex-direction: column;       /* xếp nội dung theo cột */
}

.product-card{
    display: block;
    width: 350px;
    height: 350px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    & img {
        display: block;
        width:300px;
        height:250px;
        margin:auto;
    }
    & h1 {
      margin-top: 10px;
        margin-bottom: 0px;
        font-size:25px;
    }
    & h2{
      font-size:20px;
    }
}

.readmore-button-container{
  margin-top:30px;
  display:flex;
  align-items: center;
  justify-content: center;
  & input {
    height:20px;
    width:20px;
    margin-right:10px;
    border-radius: 5px;
  }
  & p {
    padding:5px;
  }
  & button {
    width:50px;
    height:20px;
  }
}
>>>>>>> e7317fb0af0c41372ad8ede6e22739bb798de25b
